classwork/.ipynb_checkpoints/Day - 1-checkpoint.ipynb
classwork/.ipynb_checkpoints/Day - 2-checkpoint.ipynb
classwork/.ipynb_checkpoints/Day - 3-checkpoint.ipynb
classwork/.ipynb_checkpoints/Day - 4-checkpoint.ipynb
classwork/__pycache__/util.cpython-312.pyc
