classwork/.ipynb_checkpoints/Day - 1-checkpoint.ipynb
classwork/.ipynb_checkpoints/Day - 2-checkpoint.ipynb
classwork/.ipynb_checkpoints/Day - 3-checkpoint.ipynb
classwork/.ipynb_checkpoints/Day - 4-checkpoint.ipynb
classwork/__pycache__/util.cpython-312.pyc
classwork/.ipynb_checkpoints/Classwork Notebook-checkpoint.ipynb
classwork/.ipynb_checkpoints/Module 2 - Data Handling-checkpoint.ipynb
classwork/.ipynb_checkpoints/pilots-checkpoint.txt
classwork/Classwork Notebook_1.ipynb
classwork/.ipynb_checkpoints/Numpy_Pandas-checkpoint.ipynb
classwork/.ipynb_checkpoints/coffee_sales-checkpoint.csv
classwork/.ipynb_checkpoints/shipments-checkpoint.csv
